.background {
    background-color: #7400ff0f;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    /* flex: 1 0 auto ; */
}