.modal {
    background-color: white !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -10px -10px 30px 4px rgba(206, 29, 29, 0.1),
        10px 10px 30px 4px rgba(18, 45, 201, 0.15);
    outline: none;
    border-radius: 10px;
}

.pdt-0 {
    padding: 20px;
    padding-top: 0px;
}

.ml-20 {
    margin-left: 20px !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #c0f8f8;
    border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 720px) {
    .modal {
        top: 20%
    }
}