.globalLoading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
}
.icon{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 40%;
    width: 100px;
    left: 0;
    right: 0;
}